@model Domain.Domain.Disciplina

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Disciplina</h1>

<h4>Criar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoPedagogico" class="control-label"></label>
                <input asp-for="ProjetoPedagogico" class="form-control" />
                <span asp-validation-for="ProjetoPedagogico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="CursoId" asp-items="@ViewBag.Cursos" class="form-control">
                    <option></option>
                </select>
                <span asp-validation-for="CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
